* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
    display: block;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}
article {
    padding: 10px;
}