
/******       header      ******/

/* header */
body > header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
body > header.nonTop {
    position: fixed;
    background-color: white;
    box-shadow: 0px 5px 5px #27272780;
    -webkit-box-shadow: 0px 5px 5px #27272780;
    -moz-box-shadow: 0px 5px 5px #27272780;
}
/* logo */
#clickAction img {
    width: 50px;
    height: 50px;
}
body > header a p {
    display: none;
    color: white;
    font-size: 2rem;
    transform: translateY(-10px);
    margin-left: 10px;
}
body > header.nonTop a p {
    color: black;
}
/* navIcon */
#navMenu {
    width: 40px;
    margin-right: 10px;
    z-index: 100;
}
#navMenu div {
    margin: 8px 0;
}
#navMenu:after, 
#navMenu:before, 
#navMenu div {
    background-color: white;
    content: '';
    display: block;
    height: 4px;
    transition: all .2s ease-in-out;
}
#navMenu.clicked:after, 
#navMenu.clicked:before, 
#navMenu.clicked div,
.nonTop #navMenu:after, 
.nonTop #navMenu:before, 
.nonTop #navMenu div {
    background-color: black;
}
#navMenu.clicked:before {
    transform: translateY(12px) rotate(135deg);
}
#navMenu.clicked:after {
    transform: translateY(-12px) rotate(-135deg);
}
#navMenu.clicked div {
    transform: scale(0);
}
/* navMenu */
#navMenu nav {
    position: absolute;
    height: fit-content;
    width: fit-content;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all .5s ease-in-out;
}
#navMenu.clicked nav {
    transform: translateX(0);
}
#navMenu nav ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    padding-top: 100px;
    background-color: white;
}
#navMenu nav ul li a {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 2.5rem;
}
#navMenu nav ul li a:hover,
#navMenu nav ul li a:focus,
.nonTop #navMenu nav ul li a:hover,
.nonTop #navMenu nav ul li a:focus,
body > header a:hover p,
body > header a:focus p,
body > header.nonTop a:hover p,
body > header.nonTop a:focus p {
    color: green;
    transition: ease .5s;
}

/******       page      ******/

body main section.firstPage > div {
    height: 60vh;
    width: 100%;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}
body main section.firstPage > div h1 {
    width: 100%;
    text-align: center;
    padding-top: 15vh;
    font-size: 2.4rem;
    color: white;
    font-weight: 300;
}

/******       front-page      ******/

body main section.firstPage.frontPage > div {
    height: 80vh;
}
body main section.firstPage.frontPage > div h1 {
    padding-top: 25vh;
}

/******       front-page      ******/

body main section.firstPage.error > div {
    height: 95vh;
}
body main section.firstPage.error > div h1 {
    padding-top: 25vh;
}
body main section.firstPage.error > div a {
    position: absolute;
    font-size: 2rem;
    color: white;
    padding: 20px;
    background-color: green;
    left: 50%;
    transform: translateX(-50%);
    top: 60vh;
    transition: ease .5s;
    text-align: center;
}

/******       footer      ******/

footer {
    background-color: green;
    padding: 20px;
}
footer p,
footer a {
    color: white;
}
footer p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer a {
    margin-left: .2rem;
}

/*                    *\
        Min 500
\*                    */

@media only screen and (min-width: 500px) {
    

    /**     header      **/

    /* navMenu */
    #navMenu nav {
        transform: translateX(0);
    }
    #navMenu nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        width: unset;
        height: 74px;
        padding: 0;
    }
    #navMenu nav ul li a {
        font-size: 1.5rem;
        color: white;
    }
    .nonTop #navMenu nav ul li a {
        color: black;
    }
    #navMenu:after, 
    #navMenu:before, 
    #navMenu div {
        display: none;
    }

    /******       page      ******/

    body main section.firstPage > div {
        background-position: center center;
    }
    body main section.firstPage > div h1 {
        font-size: 3rem;
    }
}

/*                    *\
        Min 1000
\*                    */

@media only screen and (min-width: 1000px) {
    

    /**     header      **/

    /* navMenu */
    body > header a p {
        display: inline-block;
    }

    /******       front-page      ******/

    body main section.firstPage.error > div a {
        background-color: #636363;
    }
    body main section.firstPage.error > div a:hover,
    body main section.firstPage.error > div a:focus {
        background-color: green;
    }
}