/* ==========================================================================
   CSS reset
   ========================================================================== */

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/* ==========================================================================
   Basic setup
   ========================================================================== */

html {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	min-width: 300px;
}
main {
	min-height: 80vh;
	background-color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.2;
	padding: 1rem;
}
h1 {
	font-size: 2.5rem;
}
p {
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #026300;
	display: inline-block;
	transition: .2s ease-in-out;
}
a:hover,
a:focus {
	color: #29ac07;
}
header.nonTop a:hover,
header.nonTop a:focus {
	color: black;
}
button {
	background: transparent;
	cursor: pointer;
	transition: .2s ease-in-out;
}
ul {
	list-style-type: none;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	transition: .1s ease-in-out;
	z-index: 1;
}
header.nonTop {
	box-shadow: 0px 4px 8px #969696;
	-webkit-box-shadow: 0px 4px 8px #969696;
	-moz-box-shadow: 0px 4px 8px #969696;
	background-color: #fafafa;
}
header > a {
	display: flex;
	align-content: center;
}
header > a > svg {
	height: 50px;
	width: 75px;
	display: inline-block;
	fill: #fafafa; /* when top */
}
header.nonTop > a > svg {
	fill: black; /* when not top */
}
header > a > p {
	line-height: 2;
	font-size: 1.5rem;
	margin-left: 20px;
	display: none; /* while mobile */
	vertical-align: middle;
	color: #fafafa; /* when top */
}
header.nonTop > a > p {
	color: black; /* when not top */
}
header nav {
	display: none; /* while mobile */
}
header nav ul {
	display: flex;
}
header nav ul li a {
	padding: 10px;
	margin: 5px;
	color: #9c9c9c;
}
header.nonTop nav ul li a {
	color: #026300;
}
button svg {
	width: 50px;
	height: 50px;
}
header button svg {
	fill: #fafafa;
}
header.nonTop button svg {
	fill: black;
}
div.mobile {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 20px;
	background-color: #fafafa;
	z-index: -1;
}
div.mobile.clicked {
	z-index: 1;
}
div.mobile button {
	position: absolute;
	right: 10px;
	top: 10px;
}
div.mobile nav {
	margin-top: 70px;
}
div.mobile ul li {
	border-top: 1px solid;
}
div.mobile ul li a {
	width: 100%;
	padding: 20px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	margin: 30px 0 20px;
}
footer p {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
footer a {
	margin: 0 2px;
}

/* ==========================================================================
   Page
   ========================================================================== */

main section {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: auto;
}
main > section:first-of-type {
	background-image: url('./img/bg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	min-height: 90vh;
	color: #fafafa;
	justify-content: center;
	text-align: center;
	padding-top: 50px;
	max-width: unset;
}
main div.buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
main a.button.white {
	color: black;
	background-color: #fafafa;
	border: 2px solid #fafafa;
}
main a.button.white:hover {
	color: #fafafa;
	background-color: transparent;
}
main a.button.bordered {
	border: 2px solid #fafafa;
	color: #fafafa;
	background-color: transparent;
}
main a.button.bordered:hover {
	color: black;
	background-color: #fafafa;
}
main section h2 {
	text-align: center;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 30px;
}
main section div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
main section div article {
	margin: 20px;
	text-align: justify;
	max-width: 400px;
}
main section div article h3 {
	text-align: center;
	width: 100%;
	font-size: 1.3rem;
}
i {
	display: block;
	margin: 20px auto;
	height: 70px;
}
i.car {
	content: url('./img/car.svg');
}
i.crane {
	content: url('./img/crane.svg');
}
i.fb {
	content: url('./img/fb.svg');
}
i.logo {
	content: url('./img/logo.svg');
}
i.mail {
	content: url('./img/mail.svg');
}
i.map {
	content: url('./img/map.svg');
}
i.phone {
	content: url('./img/phone.svg');
}
i.rular {
	content: url('./img/rular.svg');
}
i.sale {
	content: url('./img/sale.svg');
}
#kontakt div div div a {
	margin: 10px;
}
#kontakt i {
	height: 50px;
	margin: unset;
}
#kontakt p {
	margin-bottom: 10px;
}
#kontakt > div {
	display: flex;
	flex-wrap: wrap;
}
#kontakt > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 30px 30px;
}
#kontakt > div > div:first-of-type p {
	text-align: center;
}
input,
textarea {
	border-bottom: 1px solid black;
	background-color: #fafafa;
	max-width: 400px;
	width: 100%;
}
input:focus,
textarea:focus {
	border-color: #29ac07;
	outline: none;
}
textarea {
	min-width: 100px;
	min-height: 100px;
	height: 150px;
}
main a.button,
.wpcf7-submit {
	padding: 7px 16px;
	border-radius: 6px;
	align-self: center;
	margin: 15px;
	min-width: 150px;
	text-align: center;
}
.wpcf7-submit {
	color: #026300;
	border: 2px solid #026300;
	height: unset;
	width: unset;
	font-size: 1rem;
}
.wpcf7-submit:hover {
	color: #fafafa;
	background-color: #026300;
}
div.cars {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 30px;
}
div.cars section {
	max-width: 350px;
	margin: 10px;
	padding: 20px;
	border: 2px #9c9c9c solid;
}
div.cars h2 {
	margin-top: 1rem;
	margin-bottom: .5rem;
}
div.cars img {
	width: 240px;
	height: 160px;
	align-self: center;
}
div.cars h3 {
	text-align: center;
	margin-top: 30px;
}
div.cars table {
	border-collapse: collapse;
    border-spacing: 0;
}
div.cars table tr:first-of-type,
div.cars table tr:nth-of-type(3),
div.cars table tr:nth-of-type(5) {
	background-color: #cacaca;
}
div.cars table tr td {
	border:  2px #9c9c9c solid;
	padding: 3px;
}
div.cars table tr td:nth-of-type(2) {
	text-align: center;
}
div.cars section p {
	font-size: 1.2rem;
}
div.cars a.button {
	color: #026300;
	border: 2px solid #026300;
	width: unset;
}
div.cars a.button:hover {
	color: #fafafa;
	background-color: #026300;
}

/* ==========================================================================
   Min-width: 800px 
   ========================================================================== */

@media only screen and (min-width: 800px) {
	header nav {
		display: unset;
	}
	header > a > p {
		display: unset;
	}
	button svg {
		display: none;
	}
}